.input-wrapper {
  position: relative;
  margin: 0 10px;
  padding-top: 10px; }
  .input-wrapper input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid #e9e9e9;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    font-size: 17px;
    color: #888; }
  .input-wrapper ul {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-top: 0;
    padding: 0;
    margin: 0;
    width: 100%; }
    .input-wrapper ul li {
      list-style-type: none;
      padding: 10px; }
